/* Definir fonte padrão para todo o projeto */
:root {
  /* Tipografia */
  --font-family: 'Roboto', sans-serif;
  --title-size: 2rem; /* Tamanho para títulos */
  --subtitle-size: 1.5rem; /* Tamanho para subtítulos */
  --text-color: #333; /* Cor padrão do texto */
  --title-color: #007bff; /* Cor dos títulos */
  --subtitle-color: #0056b3; /* Cor dos subtítulos */

  /* Layout e Estilo */
  --border-radius: 8px; /* Borda arredondada padrão */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra padrão */
  --card-bg: #f9f9f9; /* Fundo dos cartões */
}




body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Cor de fundo opcional */
    color: var(--text-color); /* Cor padrão do texto */
  }
  
  /* Configuração para títulos */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family); /* Mesma fonte, mas com variações de peso */
    font-weight: 700; /* Negrito para títulos */
    color: #000;
  }